extends /layout.pug
block vars
  - var title = `kursy CHF (${year})`

block content
  div.links.text-center
    a(href=`/data/${year}.csv`) Pobierz
  table.rates
    caption Historyczne kursy CHF w roku #{year}
    thead
      tr
        each header in headers
          th(class=header.class)= header.title
    tbody
      each row in rows
        tr
          each cell, i in row
            td(class=headers[i].class)
              if headers[i].title === 'Link'
                a(href=cell target="_blank") link
              else
                = cell
